/* FONTES */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap');

/*GERAL*/

:root{
    --white: #F8F7F3;
    --gray: #3B3B3B;
    --black: #0a0a0a;
    --lightgray: #ECECE8;
    --vinered: #CD0232;
    --darkblue: #011246;
    --blue: #2552E6;
    --purple: #2A2B5B;
    --green: #019907;
    --lightgreen: #8CE619;
    --lightbrown: #FE9B67;
    --yellow: #FFBF2A;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

/* NAV */

nav {
    display: flex;
}
nav.navbar-menu {
    padding: 20px 4%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
}

div.logo img {
    height: 70px;
    width: 100px;
    transition: 0.2s;
}

div.logo img:hover {
    transform: scale(1.05);
}

div.nome-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}
.rodape-nome {
    display: flex;
    gap: 30px;
}
div.nome-menu h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: #2a2b5b;
}
div.nome-menu a {
    color: #2a2b5b;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    transition: 0.3s;
}

div.nome-menu a:hover {
    transform: scale(1.3);
    color: #2a2b5b;
}



.nav-list {
    list-style: none;
    display: flex;  
    flex-direction: column;
    gap: 5px;
}

.nav-list li{
    list-style: none;
    background-color: #ffdd00c1;
    padding: 3px 4px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.nav-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 6px #ffdd00c1;
}

.nav-list li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color:#019907;
    font-weight: 500
}

/* MENU MOBILE */

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
  }

/* CARDAPIO TITULO */
main {
    background-color: #2a2b5b;
    border-radius: 10px;
    height: auto;
    margin: 40px 260px;
}
.titulo {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
    color: #F8F7F3;
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.titulo h2 span {
    font-size: 10px;
}
.titulo span {
    color: #F8F7F3;
}

.titulo h1 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    color: #F8F7F3;
    font-weight: 900;
}

/* COMIDAS */

/*geral*/
.texto-comida h2 {
    font-size: 25px;
    color: #F8F7F3;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    
}
.texto-comida .nome-comida h4 {
    color: #F8F7F3;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    margin:8px 0px;
    font-family: 'Montserrat', sans-serif;
}
.imagem-comida img {
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.preco {
    font-weight: 500;
}
/*nordeste*/
.nordeste {
    display: flex;
    margin: 50px 15px;
    justify-content: space-around;
}
.nordeste > .texto-comida > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    color: #F8F7F3;
    text-align: right;
}
/*norte*/
.norte {
    display: flex;
    justify-content: space-around;
    margin: 40px 15px;  
}
.norte > .texto-comida > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 155px;
    color: #F8F7F3;
    text-align: right;
}

.sudeste {
    display: flex;
    margin: 40px 15px;  
    justify-content: space-around;

}
.sudeste > .texto-comida > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 135px;
    color: #F8F7F3;
    text-align: right;
}

.centro-oeste {
    display: flex;
    margin: 40px 15px;  
    justify-content: space-around;

}
.centro-oeste > .texto-comida > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 66px;
    color: #F8F7F3;
    text-align: right;
}

.sul {
display: flex;
margin: 40px 15px;  
justify-content: space-around;

}
.sul > .texto-comida > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    color: #F8F7F3;
    text-align: right;
}


/* LINK PARA BEBIDAS*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding:40px 50px;
    background-color: #ffffffd6;
    border-radius: 4px;
    transition: 0.3s;
    width: 100%;
}
.btn a:hover {
    transform: scale(1.01);
    background-color: #fff;
}
.btn .icon-btn-bebidas {
    font-size: 40px;
}

  /* RESPONSIVIDADE */
  @media (max-width: 799px) {

    /* NAV BAR */

    .rodape-nome{
        display: none;
    }
    nav.navbar-menu {
        padding: 20px 4%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 15%;
    }
    
    div.logo img {
        height: 70px;
        width: 100px;
        transition: 0.2s;
    }
    
    div.logo img:hover {
        transform: scale(1.05);
    }

    .nome-menu a {
        display: none;
    }
    .nav-list {
        display: flex;
        position: absolute;
        top: 13vh;
        right: 0;
        width: 30vw;
        height: 87vh;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: scale(0.0);
        transition: transform 0.3s ease-in;
      }
      
      .nav-list li{
        list-style: none;
        background-color: #fff;
        border-radius: 0;
        padding: 0;
        transition: 0.3s;
        cursor: pointer;
        margin-left: 0;
        opacity: 0;
    }
    .nav-list li:hover {
        box-shadow: 0px 0px 8px #fff;
    }
    
    .nav-list li a {
        color: #2a2b5b;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    

    /* MOBILE MENU */
      .mobile-menu {
        display: block;
      }
    
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
    /* CARDAPIO TITULO */
    main {
        background-color: #2a2b5b;
        border-radius: 10px;
        height: auto;
        margin: 40px 20px;
    }
    .titulo {
        margin-top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .titulo h2{
        text-align: center;
        font-family: 'Montserrat', sans-serif;;
        color: #F8F7F3;
        text-transform: uppercase;
        font-size: 13px;
        display: flex;
        flex-direction: column;
    
    }
    
    .regiao {
     margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
    color: #F8F7F3;
    text-transform: uppercase;
    font-size:30px;
    background-color: #8a9901;
    }
    .titulo h2 span {
        font-size: 10px;
    }
    .titulo span {
        color: #F8F7F3;
    }

    .titulo h1 {
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 30px;
        color: #F8F7F3;
        font-weight: 900;
    }

    /* COMIDAS */

    .texto-comida h2 {
        font-size: 25px;
        color: #F8F7F3;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        
    }
    .texto-comida .nome-comida h4 {
        color: #F8F7F3;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;
        margin:8px 0px;
        font-family: 'Montserrat', sans-serif;
    }
    .imagem-comida img {
        display: none;
    }

    .preco {
        font-weight: 500;
    }
    .nordeste {
        display: flex;
        margin: 50px 15px;
    }
    .nordeste > .texto-comida > div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 100px;
        color: #F8F7F3;
        text-align: right;
    }
    .norte {
        display: flex;
        margin: 40px 15px;  
    }
    .norte > .texto-comida > div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 155px;
        color: #F8F7F3;
        text-align: right;
    }

    .sudeste {
        display: flex;
        margin: 40px 15px;  
    }
    .sudeste > .texto-comida > div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 135px;
        color: #F8F7F3;
        text-align: right;
    }

    .centro-oeste {
        display: flex;
        margin: 40px 15px;  
    }
    .centro-oeste > .texto-comida > div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 66px;
        color: #F8F7F3;
        text-align: right;
    }

    .sul {
    display: flex;
    margin: 40px 15px;  
    }
    .sul > .texto-comida > div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 80px;
        color: #F8F7F3;
        text-align: right;
    }


    /* LINK PARA BEBIDAS*/

    .btn {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0px;
        text-align: center;
    }
    .btn a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 20px;
        padding: 20px;
        background-color: #ffffffb3;
        width: 100%;
        border-radius: 5px;
        transition: 0.3s;
    }
    .btn a:hover {
        box-shadow: 0px 0px 10px #F8F7F3;
        transform: scale(1.02);
        background-color: #F8F7F3;
    }
    .btn .icon-btn-bebidas {
        font-size: 40px;
    }

  }

  @media (min-width: 1100px) {
    .nav-list li {
        display: none;
    }

    main section.desc-menu {
        display: none;
    }

  }

  @media (min-width: 800px) and (max-width:1100px) {

    /* NAV BAR */

    .rodape-nome{
        display: none;
    }

    nav.navbar-menu {
        padding: 20px 4%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 18vh;
    }
    
    div.logo img {
        height: 70px;
        width: 100px;
        transition: 0.2s;
    }
    
    div.logo img:hover {
        transform: scale(1.05);
    }

    div.nome-menu {
        margin-right: 20px;
    }
    div.nome-menu h1 {
        margin-left: 10px;
        font-size: 25px;
        text-transform: uppercase;
    }
    div.nome-menu h1 span {
        display: block;

    }

    .nav-list {
        position: absolute;
        top: 18vh;
        right: 0;
        width: 30vw;
        height: 82vh;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: scale(0.0);
        transition: transform 0.3s ease-in;
        }
        
        .nav-list li{
        list-style: none;
        background-color: #fff;
        border-radius: 0;
        padding: 0;
        transition: 0.3s;
        cursor: pointer;
        margin-left: 0;
        opacity: 0;
    }
    .nav-list li:hover {
        box-shadow: 0px 0px 8px #fff;
    }
    
    .nav-list li a {
        color: #0544c1;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    

    /* MOBILE MENU */
        .mobile-menu {
        display: block;
        }
    
    
    .nav-list.active {
        transform: translateX(0);
    }
    
    @keyframes navLinkFade {
        from {
        opacity: 0;
        transform: translateX(50px);
        }
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
    
    /* cardapio */
    .imagem-comida img {
        height: 180px;
        width: 300px;
        border-radius: 20px;
    }

    /* main */
    main {
        background-color: #2a2b5b;
        border-radius: 10px;
        height: auto;
        margin: 40px;
    }
  }