@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
}

/* Cores personalizadas */
:root{
    --white: #F8F7F3;
    --gray: #3B3B3B;
    --lightgray: #ECECE8;
    --vinered: #CD0232;
    --darkblue: #011246;
    --blue: #2552E6;
    --purple: #2A2B5B;
    --green: #019907;
    --lightgreen: #8CE619;
    --lightbrown: #FE9B67;
    --yellow: #FFBF2A;
}

/* Reset de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--purple);
}
a{
    text-decoration: none;
}

/* Atribuições Múltiplas */
.logo-bg, .mobile-menu, .menu-nav, .nav-list, .shadow-div{
    display: none;
}
.menu, .shadow-div, .mobile-menu div, .mobile-menu {
    cursor: pointer;
}
.fl-b{
    flex-basis: calc(100% / 3);
}

nav, .nav-list, .logo-bg, .background .main-section, .main-text{
    display: flex;
}
nav, .logo-bg, .background .main-section, .main-text{
    align-items: center;
}

/* Barra de navegação */
nav{
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    background-color: var(--white);
}

.menu{
    width: 100px;
    text-align: right;
    padding: 10px;
}

.logo-bg{
    justify-content: center;
    width: 280px;
    height: 280px;
    background-color: var(--white);
    border-radius: 80px;
    position: relative;
}
.logo{
    background: url(../img/logo.png) center/contain no-repeat;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 100px;
}

nav ul{
    list-style: none;
}
nav ul li{
    margin: 0 20px;
}
.nav-list a{
    color: var(--purple);
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--purple);
}

/* Menu Principal */
main{
    background-color: var(--lightgray);
}

.background{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), center/cover no-repeat url(../img/background.png);
    background-attachment: fixed;
    height: 92vh;
}
.main-text{
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
}
.background .main-section{
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: 100%;
}
.main-section span{
    color: var(--yellow);
    font-size: 4rem;
}
.main-section h1{
    color: var(--white);
    font-size: 3rem;
}

.brazil-flag{
    background: url(../img/brazil-flag.jpg) center/contain no-repeat;
    width: 100px;
    height: 69px;
    margin-top: 30px;
    border-radius: 10px;
}

.down-arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--yellow);
    position: relative;
    top: 20px;
}

/* Sobre o restaurante */
.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    width: 100%;
    /* height: 100%; */
    background-color: var(--lightgray);
    padding: 100px 15%;
}
.about-title{
    flex-basis: 100%;
    margin-bottom: 50px;
}
.about-title h1{
    font-size: 3rem;
    margin: 1.5rem 0;
}
.about-title p{
    font-size: 1.3rem;
}

.about-restaurant{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 50%;
}
.about-restaurant h1{
    margin: 15px 10px;
    font-size: 2rem;
}
.about-restaurant p{
    line-height: 1.7rem;
    font-size: 20px;
    margin: auto 15px;
}
.about-restaurant ul{
    list-style: circle;
    list-style-position: inside;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}
.about-restaurant ul li{
    font-size: 20px;
    margin: 10px 10px;
}

.about-mission-img{
    background: url(../img/missao.png) center/contain no-repeat;
    width: 80px;
    height: 80px;
    margin: 15px auto;
}
.about-values-img{
    background: url(../img/valores.png) center/contain no-repeat;
    width: 80px;
    height: 80px;
    margin: 15px auto;
}

/* Divisão verde */
.fr-green{
    background-color: var(--green);
    width: 96%;
    height: 35px;
    margin: 0 auto 100px auto;
    border-radius: 16px;
}

/* Carrossel */

/* Media query's */
@media screen and (max-width: 999px){d
    nav{
        justify-content: space-evenly;
        height: 14vh;
    }
    .menu{
        display: none;
        text-align: center;
        width: 80px;
        padding: 0;
    }
    .shadow-div, .mobile-menu, .menu-nav{
        display: block;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 86vh;
        background: var(--white);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        /* margin-left: 0; */
        opacity: 0;
    }
    .nav-list li a{
        padding: 20px;
    }
    .line1, .line2, .line3{
        margin: 8px auto;
    }
    .logo{
        width: 150px;
        height: 150px;
        top: 75px;
    }
    .logo-bg{
        width: 230px;
        height: 230px;
        border-radius: 60px;
    }
    .background{
        height: 86vh;
    }
}

@media screen and (max-width: 500px){
    .logo-bg.active{
        margin-right: 90px;
    }    
}

/* KeyFrames */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animações */
.nav-list.active li{
    opacity: 1;
    animation: navLinkFade 0.5s ease forwards;
    animation-delay: calc(var(--i) * 0.1s);
}
.tr-in-out, .mobile-menu div{
    transition: all 0.7s ease-in-out;
}

/* Usadas com JavaScript */
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Usadas com JavaScript */
nav.active{
    justify-content: space-evenly;
}
.div-hidden{
    display: none;
}
.nav-list.active{
    transform: translateX(0);
}
