@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    overflow-x: hidden;
}

:root{
    --white: #F8F7F3;
    --gray: #3B3B3B;
    --vinered: #CD0232;
    --darkblue: #011246;
    --blue: #2552E6;
    --lightgreen: #8CE619;
    --lightbrown: #FE9B67;
}
a{
    text-decoration: none;
}

/* NavBar */

.tr-in-out{
    transition: all 0.7s ease-in-out;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    height: 8vh;
    color: #2A2B5B;
}

.fl-b{
    flex-basis: calc(100% / 3);
}

.menu{
    width: 100px;
    text-align: right;
}

.logo-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: var(--white);
    border-radius: 80px;
    position: relative;
}

.logo{
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 60px;
}
.menu-nav{
    display: none;
}
.nav-list{
    display: flex;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
}
.nav-list a{
    color: #2A2B5B;
}
.shadow-div{
    display: none;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #2A2B5B;
    transition: 0.5s;
}

/* Menu Principal */

main{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/background.jpg);;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92%;
}

@media screen and (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .menu{
        display: none;
        text-align: center;
    }
    .shadow-div{
        display: block;
    }
    .mobile-menu{
        display: block;
    }
    .line1, .line2, .line3{
        margin: 8px auto;
    }
    .nav-list{
        position: absolute;
        top: 14vh;
        right: 0;
        width: 50vw;
        height: 86vh;
        background: var(--white);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .nav-list li a{
        padding: 15px;
    }
    .menu-nav{
        display: block;
    }
    nav{
        justify-content: space-evenly;
        height: 14vh;
    }
    main{
        height: 86%;
    }
    .logo{
        width: 200px;
        height: 200px;
        top: 25px;
    }
    .logo-bg{
        width: 200px;
        height: 200px;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}