@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
}

/* Reset de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--purple);
}
a{
    text-decoration: none;
}

/* Cores personalizadas */
:root{
    --white: #F8F7F3;
    --gray: #3B3B3B;
    --vinered: #CD0232;
    --darkblue: #011246;
    --blue: #2552E6;
    --purple: #2A2B5B;
    --lightgreen: #8CE619;
    --lightbrown: #FE9B67;
}

/* Atribuições Múltiplas */
.logo-bg, .mobile-menu, .menu-nav, .nav-list, .shadow-div{
    display: none;
}
.menu, .shadow-div, .mobile-menu div, .mobile-menu {
    cursor: pointer;
}
.fl-b{
    flex-basis: calc(100% / 3);
}

nav, .nav-list, .logo-bg{
    display: flex;
}
nav, .logo-bg{
    align-items: center;
}

/* Barra de navegação */
nav{
    justify-content: space-between;
    width: 100%;
    height: 8vh;
}

.menu{
    width: 100px;
    text-align: right;
    padding: 10px;
}

.logo-bg{
    justify-content: center;
    width: 280px;
    height: 280px;
    background-color: var(--white);
    border-radius: 80px;
    position: relative;
}
.logo{
    background: url(../img/logo.png) center/contain no-repeat;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 100px;
}

nav ul{
    list-style: none;
}
nav ul li{
    margin: 0 20px;
}
.nav-list a{
    color: var(--purple);
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--purple);
}

/* Menu Principal */
main{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), center/cover no-repeat url(../img/background.jpg);
    height: 92%;
}

/* Footer */
/* footer{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
} */

/* Media query's */
@media screen and (max-width: 999px){
    nav{
        justify-content: space-evenly;
        height: 14vh;
    }
    .menu{
        display: none;
        text-align: center;
        width: 80px;
        padding: 0;
    }
    .shadow-div, .mobile-menu, .menu-nav{
        display: block;
    }
    .nav-list{
        position: absolute;
        top: 14vh;
        right: 0;
        width: 50vw;
        height: 86vh;
        background: var(--white);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        /* margin-left: 0; */
        opacity: 0;
    }
    .nav-list li a{
        padding: 20px;
    }
    .line1, .line2, .line3{
        margin: 8px auto;
    }
    .logo{
        width: 150px;
        height: 150px;
        top: 75px;
    }
    .logo-bg{
        width: 230px;
        height: 230px;
        border-radius: 60px;
    }
    main{
        height: 86%;
    }
}

/* KeyFrames */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animações */
.nav-list.active li{
    opacity: 1;
    animation: navLinkFade 0.5s ease forwards;
    animation-delay: calc(var(--i) * 0.1s);
}
.tr-in-out, .mobile-menu div{
    transition: all 0.7s ease-in-out;
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Usadas com JavaScript */
nav.active{
    justify-content: space-evenly;
}
nav.active, .logo-bg{
    margin-right: 25px;
}
.div-hidden{
    display: none;
}
.nav-list.active{
    transform: translateX(0);
}