@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap');

/* Cores personalizadas */
:root{
    --white: #F8F7F3;
    --gray: #3B3B3B;
    --lightgray: #ECECE8;
    --vinered: #CD0232;
    --darkblue: #011246;
    --blue: #2552E6;
    --purple: #2A2B5B;
    --green: #019907;
    --lightgreen: #8CE619;
    --lightbrown: #FE9B67;
    --yellow: #FFBF2A;
}

/* Reset de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--purple);
}
a{
    text-decoration: none;
}

/* Atribuições Múltiplas */
.logo-bg, .mobile-menu, .menu-nav, .nav-list, .shadow-div{
    display: none;
}
.menu, .shadow-div, .mobile-menu div, .mobile-menu {
    cursor: pointer;
}
.fl-b{
    flex-basis: calc(100% / 3);
}

nav, .nav-list, .logo-bg, .background .main-section, .main-text{
    display: flex;
}
nav, .logo-bg, .background .main-section, .main-text{
    align-items: center;
}

/* Barra de navegação */
nav{
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    background-color: var(--white);
}

.menu{
    width: 100px;
    text-align: right;
    padding: 10px;
}

.logo-bg{
    justify-content: center;
    width: 280px;
    height: 280px;
    background-color: var(--white);
    border-radius: 80px;
    position: relative;
}
.logo{
    background: url(../img/logo.png) center/contain no-repeat;
    background-image: grad;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 100px;
}

nav ul{
    list-style: none;
}
nav ul li{
    margin: 0 20px;
}
.nav-list a{
    color: var(--purple);
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--purple);
}

/* Menu Principal */
.background{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), center/cover no-repeat url(../img/background.png);
    background-attachment: fixed;
    height: 92vh;
}
.main-text{
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
}
.background .main-section{
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: 100%;
}
.main-section span{
    color: var(--yellow);
    font-size: 4rem;
}
.main-section h1{
    color: var(--white);
    font-size: 3rem;
    line-height: 1;
    font-family: 'Inknut Antiqua', serif;
}

.brazil-flag{
    background: url(../img/brazil-flag.jpg) center/contain no-repeat;
    width: 100px;
    height: 69px;
    margin-top: 30px;
    border-radius: 10px;
}

.down-arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--yellow);
    position: relative;
    top: 20px;
}

/* Sobre o restaurante */
main section.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    width: 100%;
    /* height: 100%; */
    background-color: var(--lightgray);
    padding: 100px 15%;
}
.about-title{
    flex-basis: 100%;
    margin-bottom: 50px;
}
.about-title h1{
    font-size: 3rem;
    margin: 1.5rem 0;
}
.about-title p{
    font-size: 1.3rem;
}

.about-restaurant{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 50%;
}
.about-restaurant h1{
    margin: 15px 10px;
    font-size: 2rem;
}
.about-restaurant p{
    line-height: 1.7rem;
    font-size: 20px;
    margin: auto 15px;
}
.about-restaurant ul{
    list-style: circle;
    list-style-position: inside;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}
.about-restaurant ul li{
    font-size: 20px;
    margin: 10px 10px;
}

.about-mission-img{
    background: url(../img/missao.png) center/contain no-repeat;
    width: 80px;
    height: 80px;
    margin: 15px auto;
}
.about-values-img{
    background: url(../img/valores.png) center/contain no-repeat;
    width: 80px;
    height: 80px;
    margin: 15px auto;
}

/* Divisão verde e amarelo */
.fr-green, .fr-yellow, .fr-blue{
    background-color: var(--green);
    width: 96%;
    height: 35px;
    margin: 100px auto;
    border-radius: 16px;
}
.fr-yellow{
    background-color: var(--yellow);
    /* margin-bottom: 100px; */
}
.fr-blue{
    background-color: var(--blue);
}

/* Sobre as comidas */
main section.type-foods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding: 100px 10%;
}
.foods, .drinks{
    display: flex;
}
.foods p, .drinks p{
    font-size: 1.3rem;
    margin: 0 30px;
    width: 50%;
    align-self: center;
    font-weight: bold;
}
.food-bg, .drinks-bg{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center/cover no-repeat url(../img/comida.png);
    width: 500px;
    height: 300px;
    border-radius: 100px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
}
.food-bg h1, .drinks-bg h1{
    font-size: 3rem;
    text-align: center;
    margin: 0 10px;
    font-family: 'Inknut Antiqua', serif;
}

.drinks{
    flex-direction: row-reverse;
    margin-top: 50px;
}
.drinks-bg{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), center/cover no-repeat url(../img/refri.jpg);    
}

/* Sessão de Reserva */
main section.reserva{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), center/cover no-repeat url(../img/reserva.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.container {
    margin: 20px;
    max-width: 500px;
    padding: 16px;
    background-color: var(--white);
}
.container h1{
    margin: 5px 0;
}

input[type=text], input[type=number], input[type=date], input[type=email], select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: var(--lightgray);
}
input[type=text]:focus, input[type=number]:focus, input[type=date]:focus, input[type=email]:focus, select:focus{
    background-color: #ddd;
    outline: none;
}
.btn {
    background-color: var(--yellow);
    color: var(--white);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.btn:hover {
    opacity: 1;
}

/* Gradiente verde-amarelo */
.gr-yl{
    width: 6px;
    height: 60px;
}
.gr, .yl{
    height: 50%;
}
.gr{
    background-color: var(--green);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.yl{
    background-color: var(--yellow);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Carrossel */

/* Media query's */
@media screen and (max-width: 999px){
    nav{
        justify-content: space-evenly;
        height: 14vh;
    }
    .menu{
        display: none;
        text-align: center;
        width: 80px;
        padding: 0;
    }
    .shadow-div, .mobile-menu, .menu-nav{
        display: block;
    }
    .nav-list{
        position: absolute;
        top: 14vh;
        right: 0;
        width: 50vw;
        height: 86vh;
        background: var(--white);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        /* margin-left: 0; */
        opacity: 0;
    }
    .nav-list li a{
        padding: 20px;
    }
    .line1, .line2, .line3{
        margin: 8px auto;
    }
    .logo{
        width: 150px;
        height: 150px;
        top: 75px;
    }
    .logo-bg{
        width: 230px;
        height: 230px;
        border-radius: 60px;
    }
    .background{
        height: 86vh;
    }
}
@media screen and (max-width: 700px){
    .foods, .drinks{
        flex-direction: column;

    }
    .foods p, .drinks p{
        width: 100%;
        margin: 30px 0;
    }
    .foods h1, .drinks h1{
        font-size: 2.2rem;
    }
    .food-bg, .drinks-bg{
        max-width: 320px;
        max-height: 190px;
        border-radius: 60px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px){
    .logo-bg.active{
        margin-right: 90px;
    }    
}

/* KeyFrames */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animações */
.nav-list.active li{
    opacity: 1;
    animation: navLinkFade 0.5s ease forwards;
    animation-delay: calc(var(--i) * 0.1s);
}
.tr-in-out, .mobile-menu div{
    transition: all 0.7s ease-in-out;
}

/* Usadas com JavaScript */
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Usadas com JavaScript */
nav.active{
    justify-content: space-evenly;
}
.div-hidden{
    display: none;
}
.nav-list.active{
    transform: translateX(0);
}
