/* FONTES */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
}
/*GERAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* NAV */

nav {
    display: flex;
}
nav.navbar-menu {
    padding: 20px 4%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
}

div.logo img {
    height: 70px;
    width: 100px;
    transition: 0.2s;
}

div.logo img:hover {
    transform: scale(1.05);
}

div.nome-menu h1 {
    margin-left: 50px;
    font-size: 45px;
    text-transform: uppercase;
}

.nav-list {
    list-style: none;
    display: flex;  
    flex-direction: column;
    gap: 5px;
}

.nav-list li{
    list-style: none;
    background-color: #ffdd00c1;
    padding: 3px 4px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.nav-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 6px #ffdd00c1;
}

.nav-list li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color:#01c24b;
    font-weight: 500
}

/* MENU MOBILE */

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
  }

  /* RESPONSIVIDADE */
  @media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }
    /* NAV BAR */

    nav.navbar-menu {
        padding: 20px 4%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 18vh;
    }
    
    div.logo img {
        height: 70px;
        width: 100px;
        transition: 0.2s;
    }
    
    div.logo img:hover {
        transform: scale(1.05);
    }

    div.nome-menu {
        margin-right: 20px;
    }
    div.nome-menu h1 {
        margin-left: 10px;
        font-size: 25px;
        text-transform: uppercase;
    }
    div.nome-menu h1 span {
        display: block;

    }

    .nav-list {
        position: absolute;
        top: 18vh;
        right: 0;
        width: 30vw;
        height: 82vh;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      }
      
      .nav-list li{
        list-style: none;
        background-color: #fff;
        border-radius: 0;
        padding: 0;
        transition: 0.3s;
        cursor: pointer;
        margin-left: 0;
        opacity: 0;
    }
    .nav-list li:hover {
        box-shadow: 0px 0px 8px #fff;
    }
    
    .nav-list li a {
        color: #0544c1;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    

    /* MOBILE MENU */
      .mobile-menu {
        display: block;
      }
    
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
    
    /* TXT REGIAO NORDESTE */

    main section.nordeste {
        padding: 10px 0%;
        height: 100vh;
        margin: 0 auto;
    }

    main section.nordeste .txt-regiao h3 {
        margin-top: 10px;
        font-size: 25px;
        text-transform: uppercase;
        font-style: oblique;
    }
    main section.nordeste .txt-regiao .pratos-nordeste {
        display: flex;
        padding: 10px 5px;
        margin-top: 10px;
        text-align: center;
        justify-content: space-around;
        background-color: #FFBF2A;
        border-radius: 20px;
        font-weight: 800;
    }
    main section.nordeste .txt-regiao .pratos-nordeste .desc-prato {
        display: block;
        color: #2A2B5B;
        text-transform: uppercase;
    }
    main section.nordeste .txt-regiao .pratos-nordeste .desc-prato h4{
        text-transform: uppercase;
        font-size: 20px;
        font-style: oblique;
    }
    main section.nordeste .txt-regiao .pratos-nordeste .desc-prato p {
        margin-top: 5px;
        font-size: 16px;
    }
    main section.nordeste .txt-regiao .pratos-nordeste .desc-prato ul {
        margin-top: 20px;
        list-style: none;
        font-size: 12px;
    }
    main section.nordeste .txt-regiao .pratos-nordeste .desc-prato ul li {
        margin-top: 20px;
    }
    main section.nordeste .txt-regiao .pratos-nordeste > img {
        height: 190px;
        width: 150px;
        border-radius: 20px;
        margin: 0 10px;
    }
        /*TXT REGIAO NORTE*/

        main section.norte {
            padding: 10px 0%;
            height: 100vh;
            margin: 0 auto;
        }
    
        main section.norte .txt-regiao h3 {
            margin-top: 10px;
            font-size: 25px;
            text-transform: uppercase;
            font-style: oblique;
        }
        main section.norte .txt-regiao .pratos-norte {
            display: flex;
            padding: 10px 5px;
            margin-top: 10px;
            text-align: center;
            justify-content: space-around;
            background-color: #FFBF2A;
            border-radius: 20px;
            font-weight: 800;
        }
        main section.norte .txt-regiao .pratos-norte .desc-prato {
            display: block;
            color: #2A2B5B;
            text-transform: uppercase;
        }
        main section.norte .txt-regiao .pratos-norte .desc-prato h4{
            text-transform: uppercase;
            font-size: 20px;
            font-style: oblique;
        }
        main section.norte .txt-regiao .pratos-norte .desc-prato p {
            margin-top: 5px;
            font-size: 16px;
        }
        main section.norte .txt-regiao .pratos-norte .desc-prato ul {
            margin-top: 20px;
            list-style: none;
            font-size: 12px;
        }
        main section.norte .txt-regiao .pratos-norte .desc-prato ul li {
            margin-top: 20px;
        }
        main section.norte .txt-regiao .pratos-norte > img {
            height: 190px;
            width: 150px;
            border-radius: 20px;
            margin: 0 10px;
        }
    
    }
}

       
