/* FONTES */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
}
/*GERAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* NAV */

nav.navbar-menu {
    padding: 20px 4%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

div.logo img {
    height: 70px;
    width: 100px;
}

div.nome-menu h1 {
    margin-right: 20px;
    font-size: 45px;
    text-transform: uppercase;
}

/* MENU MOBILE */
div.abrir-menu-mobile{
    font-size: 45px;
}

.menu-mobile {
    background-color: #002776a5;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition:  0.4s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile .fechar-menu-mobile {
    padding: 20px 5%;
    text-align: left;
}
.menu-mobile .fechar-menu-mobile i{
    color: #ffdf00;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-mobile nav ul li a:hover {
    background-color: #ffdf00;
    color: #000;
}

.overlay-menu {
    background-color: #002776a5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* TIPOS DE REFEICAO */

main section.desc-menu {
    padding: 20px 4%;
    background-image: url(../img/imagem-momento-refeicao.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.desc-menu .txt-momento-ref{
    background-color: #ffdd00f0;
    padding: 30px 10px;
    border-radius: 20px;
}

section.desc-menu .txt-momento-ref h2 {
    font-size: 32px;
    text-transform: uppercase;
    line-height: 44px;
}
section.desc-menu .txt-momento-ref h2 span{
    display: block;
    margin-left: 20px;
    color: #0544c1;
}
section.desc-menu .txt-momento-ref .tipos-ref {
    margin-top: 30px;
}
section.desc-menu .txt-momento-ref ul {
    text-align: center;
    list-style: none;
}

section.desc-menu .txt-momento-ref ul li a {
    font-size: 30px;
    text-decoration: none;
    color: #009c3b;
    text-transform: uppercase;
    line-height: 3;
    transition: 0.2s;/*tempo para dar o zomm, deixando mais suave*/
}

section.desc-menu .txt-momento-ref ul li a:hover, section.desc-menu .txt-momento-ref ul li a:active{
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 20px;
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffffaf;
    
}



















