/* FONTES */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
}
/*GERAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* NAV */

nav {
    display: flex;
}
nav.navbar-menu {
    padding: 20px 4%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
}

div.logo img {
    height: 70px;
    width: 100px;
    transition: 0.2s;
}

div.logo img:hover {
    transform: scale(1.05);
}

div.nome-menu h1 {
    margin-left: 50px;
    font-size: 45px;
    text-transform: uppercase;
    color: #2a2b5b;
}

.nav-list {
    list-style: none;
    display: flex;  
    flex-direction: column;
    gap: 5px;
}

.nav-list li{
    list-style: none;
    background-color: #ffdd00c1;
    padding: 3px 4px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.nav-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 6px #ffdd00c1;
}

.nav-list li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color:#01c24b;
    font-weight: 500
}

/* MENU MOBILE */

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
  }
  
/* TIPOS DE REFEICAO */

main section.desc-menu {
    padding: 40px 4%;
    background-image: url(../img/imagem-restaurante.jpeg);
    background-size: cover;
    background-position: center;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.desc-menu .txt-momento-ref{
    background-color: #ffdd00f0;
    padding: 100px 180px;
    border-radius: 20px;
}

section.desc-menu .txt-momento-ref h2 {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 44px;
}
section.desc-menu .txt-momento-ref h2 span{
    display: block;
    margin-left: 15px;
    font-size: 45px;
    color: #2a2b5b;
}
section.desc-menu .txt-momento-ref .tipos-ref {
    margin-top: 30px;
}
section.desc-menu .txt-momento-ref ul {
    text-align: center;
    list-style: none;
}

section.desc-menu .txt-momento-ref ul li a {
    font-size: 35px;
    text-decoration: none;
    color: #01c24b;
    text-transform: uppercase;
    line-height: 3;
    transition: 0.4s;/*tempo para dar o zomm, deixando mais suave*/
}

section.desc-menu .txt-momento-ref ul li a:hover, section.desc-menu .txt-momento-ref ul li a:active{
    background-color: #ffffffee;
    padding: 20px 40px;
    border-radius: 20px;
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffffaf;
    font-weight: 200;
    
}


@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }
    /* NAV BAR */

    nav.navbar-menu {
        padding: 20px 4%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 13vh;
    }
    
    div.logo img {
        height: 70px;
        width: 100px;
        transition: 0.2s;
    }
    
    div.logo img:hover {
        transform: scale(1.05);
    }
    .nav-list {
        position: absolute;
        top: 13vh;
        right: 0;
        width: 30vw;
        height: 87vh;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      }
      
      .nav-list li{
        list-style: none;
        background-color: #fff;
        border-radius: 0;
        padding: 0;
        transition: 0.3s;
        cursor: pointer;
        margin-left: 0;
        opacity: 0;
    }
    .nav-list li:hover {
        box-shadow: 0px 0px 8px #fff;
    }
    
    .nav-list li a {
        color: #2a2b5b;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    

    /* MOBILE MENU */
      .mobile-menu {
        display: block;
      }
    
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
    /* TIPO REFEICAO*/
        main section.desc-menu {
        padding: 20px 2%;
        background-image: url(../img/imagem-momento-refeicao.jpg);
        background-size: cover;
        background-position: center;
        height: 87vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.desc-menu .txt-momento-ref{
        background-color: #f7f7f5;
        padding: 50px 20px;
        border-radius: 20px;
    }
    
    section.desc-menu .txt-momento-ref h2 {
        font-size: 30px;
        text-transform: uppercase;
        line-height: 40px;
    }
    section.desc-menu .txt-momento-ref h2 span{
        display: block;
        margin-left: 15px;
        color: #2a2b5b;
        font-size:31px;
    }
    section.desc-menu .txt-momento-ref ul li a {
        font-size: 31px;
        color: #f7b61e;
    }
    
    section.desc-menu .txt-momento-ref ul li a:hover, section.desc-menu .txt-momento-ref ul li a:active{
        background-color: #ffffffee;
        padding: 17px 30px;
        border-radius: 20px;
        transform: scale(1.05);
        box-shadow: 0 0 8px #ffffffaf;
        font-weight: 1;
    }
}

       


















