/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap');

/*GERAL*/

:root{
    --white: #F8F7F3;
    --gray: #3B3B3B;
    --black: #0a0a0a;
    --lightgray: #ECECE8;
    --vinered: #CD0232;
    --darkblue: #011246;
    --blue: #2552E6;
    --purple: #2A2B5B;
    --green: #019907;
    --lightgreen: #8CE619;
    --lightbrown: #FE9B67;
    --yellow: #FFBF2A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* NAV */

nav {
    display: flex;
}
nav.navbar-menu {
    padding: 20px 4%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
}

div.logo img {
    height: 70px;
    width: 100px;
    transition: 0.2s;
}

div.logo img:hover {
    transform: scale(1.05);
}

div.nome-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}
.rodape-nome {
    display: flex;
    gap: 30px;
}
div.nome-menu h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: var(--purple);
}
div.nome-menu a {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    transition: 0.3s;
}

div.nome-menu a:hover {
    transform: scale(1.3);
    color: var(--purple);
}


/* MENU MOBILE */

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--black);
    margin: 8px;
    transition: 0.3s;
  }
  
/* TIPOS DE REFEICAO */

main section.desc-menu {
    padding: 40px 4%;
    background-image: url(../img/imagem-restaurante.jpeg);
    background-size: cover;
    background-position: center;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.desc-menu .txt-momento-ref{
    background-color: #ffdd00f0;
    padding: 100px 180px;
    border-radius: 20px;
}

section.desc-menu .txt-momento-ref h2 {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 44px;
    color: var(--purple);
}
section.desc-menu .txt-momento-ref h2 span{
    display: block;
    margin-left: 15px;
    font-size: 45px;
    color: var(--purple);
}
section.desc-menu .txt-momento-ref .tipos-ref {
    margin-top: 30px;
}
section.desc-menu .txt-momento-ref ul {
    text-align: center;
    list-style: none;
}

section.desc-menu .txt-momento-ref ul li a {
    font-size: 35px;
    text-decoration: none;
    color: var(--green);
    text-transform: uppercase;
    line-height: 3;
    transition: 0.5s;/*tempo para dar o zomm, deixando mais suave*/
}

section.desc-menu .txt-momento-ref ul li a:hover, section.desc-menu .txt-momento-ref ul li a:active{
    background-color: var(--lightgray);
    padding: 20px 40px;
    border-radius: 20px;
    transform: scale(1.05);
    box-shadow: 0 0 8px var(--lightgray);
    font-weight: 200;
}

/* TELAS TELEFONE */
@media (max-width: 700px) {

    body {
        overflow-x: hidden;
    }
    /* NAV BAR */

    .rodape-nome{
        display: none;
    }
    nav.navbar-menu {
        padding: 20px 4%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 13vh;
    }
    
    div.logo img {
        height: 70px;
        width: 100px;
        transition: 0.2s;
    }
    
    div.logo img:hover {
        transform: scale(1.05);
    }

    .nome-menu a {
        display: none;
    }
    .nav-list {
        display: flex;
        position: absolute;
        top: 13vh;
        right: 0;
        width: 30vw;
        height: 87vh;
        background: var(--white);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      }
      
      .nav-list li{
        list-style: none;
        background-color: var(--white);
        border-radius: 0;
        padding: 0;
        transition: 0.3s;
        cursor: pointer;
        margin-left: 0;
        opacity: 0;
    }
    .nav-list li:hover {
        box-shadow: 0px 0px 8px var(--white);
    }
    
    .nav-list li a {
        color: var(--purple);
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    

    /* MOBILE MENU */
      .mobile-menu {
        display: block;
      }
    
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
    /* TIPO REFEICAO*/
        main section.desc-menu {
        padding: 20px 2%;
        background-image: url(../img/buffet4.jpg);
        background-size: cover;
        background-position: center;
        height: 87vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.desc-menu .txt-momento-ref{
        background-color: var(--lightgray);
        padding: 44px 20px;
        border-radius: 10px;
    }
    
    section.desc-menu .txt-momento-ref h2 {
        font-size: 30px;
        text-transform: uppercase;
        line-height: 40px;
        color: var(--purple) ;   
        margin-left: 10px;
    }
    section.desc-menu .txt-momento-ref h2 span{
        display: block;
        color: var(--white);
        font-size:27px;
        border-radius: 10px;
        margin-right: 10px;
        background-color: var(--purple);
    }
    section.desc-menu .txt-momento-ref ul li a {
        font-size: 31px;
        color: var(--green);
    }
    
    section.desc-menu .txt-momento-ref ul li a:hover, section.desc-menu .txt-momento-ref ul li a:active{
        padding: 17px;
        border-radius: 15px;
        color: var(--purple);
        background-color: var(--green);
    }

    section.desc-menu-desktop {
        display: none;
    }
}

/* TELA COMPUTADOR*/

@media (min-width: 1100px) {
    .nav-list li {
        display: none;
    }

    main section.desc-menu {
        display: none;
    }

    main section.desc-menu-desktop h2{
        color: var(--white);
        text-align: center;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-weight: 700;
        margin-top: 40px;
    }

    main section.desc-menu-desktop {
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), center/cover no-repeat url(../img/buffet4.jpg);
        height: 87vh;
    }

    .imagens{
        display: flex;
        justify-content: space-around;
    }
    .img-port{
        margin-top: 50px;
        width: 360px;
        height: 170px;
        background-color: var(--green);
        background-size: cover;
        background-position: 100% 0;
        transition: 3s;
        border-radius: 5px;
        position: relative;
    }

    .img-port:hover {
        background-position: 100% 100%;
        transform: scale(1.06);
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .overlay a{
        font-size: 24px;
        font-weight: 700;
        color: var(--white);
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 10px;
        font-family: 'Inknut Antiqua', serif;
    }

    /*parte das bebidas*/

    .desc-menu-desktop h3 {
        margin-top: 60px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--white);
        font-size: 25px;
    }
    .cardapio-bebidas{
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    .bebidas-tipo{
        margin-top: 50px;
        width: 360px;
        height: 170px;
        background-size: cover;
        background-position: 100% 0;
        transition: 3s;
        border-radius: 5px;
        position: relative;
    }

    .bebidas-tipo:hover {
        background-position: 100% 100%;
        transform: scale(1.07);
    }

    .overlay-beb{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .overlay-beb a{
        font-size: 24px;
        font-weight: 700;
        color: #F8F7F3;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 10px;
        font-family: 'Inknut Antiqua', serif;
    }
}

/* TELAS MEDIAS - tablets,...*/

@media (min-width: 800px) and (max-width:900px) {
    body {
        overflow-x: hidden;
    }
    /* NAV BAR */

    .rodape-nome{
        display: none;
    }
    nav.navbar-menu {
        padding: 20px 4%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 13vh;
    }
    
    div.logo img {
        height: 70px;
        width: 100px;
        transition: 0.2s;
    }
    
    div.logo img:hover {
        transform: scale(1.05);
    }

    .nome-menu a {
        display: none;
    }
    .nav-list {
        display: flex;
        position: absolute;
        top: 13vh;
        right: 0;
        width: 30vw;
        height: 87vh;
        background: var(--white);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 10000;

      }
      
      .nav-list li{
        list-style: none;
        background-color: var(--white);
        border-radius: 0;
        padding: 0;
        transition: 0.3s;
        cursor: pointer;
        margin-left: 0;
        opacity: 0;
    }
    .nav-list li:hover {
        box-shadow: 0px 0px 8px var(--white);
    }
    
    .nav-list li a {
        color: #2a2b5b;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    

    /* MOBILE MENU */
      .mobile-menu {
        display: block;
      }
    
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }

    /* tipos refeicao */
    main section.desc-menu {
        display: none;
    }
    main section.desc-menu-desktop h2{
        color: var(--purple);
    main section.desc-menu-desktop {
        display: flex;
        flex-direction: column;
        background-image: url(../img/imagem-de-fundo.jpeg);
        height: 87vh;
    }

    section.desc-menu-desktop h2{
        color: #2a2b5b;
        text-align: center;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-weight: 700;
        margin-top: 50px;
        color: var(--lightgray);
        /* background-color: var(--purple); */
        padding: 15px;
    }
    main section.desc-menu-desktop {
        display: flex;
        flex-direction: column;
        background-image: url(../img/buffet4.jpg);
        height: 100%;
    }

    .imagens{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-port{
        margin-top: 50px;
        width: 80%;
        height: 120px;
        background-size: cover;
        background-position: 100% 0;
        transition: 3s;
        border-radius: 5px;
        position: relative;
    }

    .img-port:hover {
        background-position: 100% 100%;
        transform: scale(1.06);
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .overlay a{
        font-size: 24px;
        font-weight: 700;
        color: var(--white);
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 10px;
        font-family: 'Inknut Antiqua', serif;
    }

    /*parte das bebidas*/

    .desc-menu-desktop h3 {
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-variant: var(--purple);
        background-color: var(--yellow);
        color: var(--white);
        padding: 15px;
        font-size: 25px;
    }
    .cardapio-bebidas{
        gap: 30px;
        background-color: var(--blue);
        justify-content: center;
        padding: 30px;
        border-radius: 30px;
        margin: 18px 10px;
        flex-direction: column;
        align-items: center;
    }

    .bebidas-tipo{
        max-width: 100%;
        height: 120px;
        background-size: cover;
        background-position: 100% 0;
        transition: 3s;
        border-radius: 15px;
        position: relative;
        margin: 20px 0;
    }

    .bebidas-tipo:hover {
        background-position: 100% 100%;
        transform: scale(1.07);
    }

    .overlay-beb{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .overlay-beb a{
        font-size: 22px;
        font-weight: 700;
        color: #F8F7F3;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 10px;
        font-family: 'Inknut Antiqua', serif;
    }
}

/* Gradiente verde-amarelo */
.gr-yl{
    width: 6px;
    height: 50px;
}
.gr, .yl{
    height: 50%;
}
.gr{
    background-color: var(--green);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.yl{
    background-color: var(--yellow);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}