/* FONTES */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap');

/*GERAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* NAV */

nav {
    display: flex;
}
nav.navbar-menu {
    padding: 20px 4%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
}

div.logo img {
    height: 70px;
    width: 100px;
    transition: 0.2s;
}

div.logo img:hover {
    transform: scale(1.05);
}

div.nome-menu h1 {
    margin-left: 50px;
    font-size: 45px;
    text-transform: uppercase;
}

.nav-list {
    list-style: none;
    display: flex;  
    flex-direction: column;
    gap: 5px;
}

.nav-list li{
    list-style: none;
    background-color: #ffdd00c1;
    padding: 3px 4px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.nav-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 6px #ffdd00c1;
}

.nav-list li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color:#01c24b;
    font-weight: 500
}

/* MENU MOBILE */

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
  }

  /* RESPONSIVIDADE */
  @media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }
    /* NAV BAR */

    nav.navbar-menu {
        padding: 20px 4%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 18vh;
    }
    
    div.logo img {
        height: 70px;
        width: 100px;
        transition: 0.2s;
    }
    
    div.logo img:hover {
        transform: scale(1.05);
    }

    div.nome-menu {
        margin-right: 20px;
    }
    div.nome-menu h1 {
        margin-left: 10px;
        font-size: 25px;
        text-transform: uppercase;
    }
    div.nome-menu h1 span {
        display: block;

    }

    .nav-list {
        position: absolute;
        top: 18vh;
        right: 0;
        width: 30vw;
        height: 82vh;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      }
      
      .nav-list li{
        list-style: none;
        background-color: #fff;
        border-radius: 0;
        padding: 0;
        transition: 0.3s;
        cursor: pointer;
        margin-left: 0;
        opacity: 0;
    }
    .nav-list li:hover {
        box-shadow: 0px 0px 8px #fff;
    }
    
    .nav-list li a {
        color: #0544c1;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    

    /* MOBILE MENU */
      .mobile-menu {
        display: block;
      }
    
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
    
    /* CARDAPIO TITULO */
    main {
        background-color: #2a2b5b;
        border-radius: 10px;
        height: 100vh;
        margin: 40px 20px;
    }
    .titulo {
        margin-top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .titulo h2{
        text-align: center;
        font-family: 'Montserrat', sans-serif;;
        color: #F8F7F3;
        text-transform: uppercase;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        
    }
    .titulo h2 span {
        font-size: 10px;
    }
    .titulo span {
        color: #F8F7F3;
    }

    .titulo h1 {
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 30px;
        color: #F8F7F3;
        font-weight: 900;
    }

    /* COMIDAS */


    }


       
